<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ebookshop</display-name>
	<servlet>
		<description>DESCRIPTION</description>
		<display-name>ShopController</display-name>
		<servlet-name>ShopControllerName</servlet-name>
		<servlet-class>ShopController</servlet-class>

		<init-param>
			<param-name>base</param-name>
			<param-value>/ebookshop/shop</param-value>
		</init-param>

		<init-param>
			<param-name>imageURL</param-name>
			<param-value>/ebookshop/images/</param-value>
		</init-param>

		<init-param>
			<param-name>jdbcDriver</param-name>
			<param-value>org.postgresql.Driver</param-value>
		</init-param>

		<init-param>
			<param-name>dbURL</param-name>
			<param-value>jdbc:postgresql://localhost:5432/shop</param-value>
		</init-param>

		<init-param>
			<param-name>dbUserName</param-name>
			<param-value>eshop</param-value>
		</init-param>

		<init-param>
			<param-name>dbPassword</param-name>
			<param-value>eshop</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>ShopControllerName</servlet-name>
		<url-pattern>/shop/*</url-pattern>
	</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>